.navbar-brand {
    margin-right: 49vw;
    margin-left: 10px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
  }
  video{
    width: 100vw;
    height: 90vh;
    object-fit: fill;
  }
  .parallax{
      background-image: url("../images/portfolio\ image.jpeg");
      min-height: 350px;
      text-align: center;
      color: aqua;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
   .row{
      align-items: center;
      margin-top: 100px;
  }
  /* .text {
    color: black;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
   */
   .parallax2{
    background-image: url("/images/paralax2.jpeg");
    min-height: 350px;
    text-align: center;
    color: aqua;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

   

  